{{> head}}
{{> header}}
{{> jumbotron}}
{{> banners--small}}
<div class="container mike-test">
  {{> latest-products}}
  {{> banners--medium}}
  {{> featured-products}}
  {{> subscribe-on-newsletter}}
  {{> widgets}}
</div>
{{> testimonials}}
{{> footer}}