<!-- weixin sdk js 文件 -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!-- heywow js sdk 文件
<script src="http://v2.shheywow.com/assets/jssdk/weixin.js"></script> -->
<script src="javascript/wxsettings.js"></script>  
</body>
</html>